{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Movie</th>
        <th scope="col">Age</th>
        <th scope="col">Year</th>
    </tr>
    </thead>
    <tbody>
    {% for actor in actors %}
    <tr>
        <td><a href="view/{{actor.Index}}">{{ actor.Index }}</a></td>
        <td>{{ actor.Name }}</td>
        <td>{{ actor.Movie }}</td>
        <td>{{ actor.Age }}</td>
        <td>{{ actor.Year }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}