{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ actor.Index }} - {{ actor.Name }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Movie: {{ actor.Movie }}</li>
        <li class="list-group-item">Age: {{ actor.Age }}</li>
        <li class="list-group-item">Year: {{ actor.Year }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{actor.Index}}" class="card-link btn btn-primary">Edit</a>
    </div>
</div>
<form action="/delete/{{actor.Index}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}

